.top_page{
	margin: auto;
	width: 100%;
	background-color: black;
	color: white;
	font-size: 75px;
	border-radius: 2px;
	display: flex;
	justify-content: centre;
	align-items: centre-right;
}

.links {
	width: 100%;
}

.pic { 
	float: left;
	margin: 0px;
	width: 15%;
	height: 20%;
	border-radius: 2px;
}

a:hover { 
	color: green;
}


.footer_info {
	font-size: 50px;
}


body {
	margin: 0;
}

footer{
	margin-top: 100vh;
}

button {
	font-size: 50px;
}